.wangEditor-container {
	float: left;
	width: 80%;
	border-radius: 4px;
	margin-left: 15px;
}

.info-dx .inline {
	float: left;
	width: 70px;
}

.info-dx {
	margin-left: 10px;
}



select {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.info-btn {
	width: 100px;
	margin: 0 auto;
}

.info-btn .btn {
	width: 100px;
}

.onechild {
	border: 2px solid gainsboro;
}

.left-float {
	float: left;
}
