/* leftsead */

#leftsead {
	width: 131px;
	height: 143px;
	position: fixed;
	top: 258px;
	right: 0px;
}

*html #leftsead {
	margin-top: 258px;
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop));
}

#leftsead li {
	width: 131px;
	height: 60px;
}

#leftsead li img {
	float: right;
}

#leftsead li a {
	height: 49px;
	float: right;
	display: block;
	min-width: 47px;
	max-width: 131px;
}

#leftsead li a .shows {
	display: block;
}

#leftsead li a .hides {
	margin-right: -143px;
	cursor: pointer;
	cursor: hand;
}

#leftsead li a.youhui .hides {
	display: none;
	position: absolute;
	right: 190px;
	top: 2px;
}