@charset "utf-8";
/*框架预览 CSS*/
.zzsc{ background: #DEDEDE; padding: 50px; color: #333; }
.zzsc:after{height:0; clear:both;}
}
/*End*/

/*主要CSS*/

.icr-label { position: relative; display: inline-block; }
.icr-hidden { position: absolute; display: block; top: 0; left: 0; width: 0; height: 0; overflow: hidden; }
.icr-input { position: absolute; display: block; top: -20px; left: -20px; }
.icr-text { display: inline; vertical-align: middle; }
.icr-item { position: relative; display: inline-block; vertical-align: middle; }
/* Sprite positions */

.icr-label .type_checkbox { background-position: 0 0; }
.icr-label .type_radio { background-position: 0 -48px; }
.icr-label:hover .type_checkbox { background-position: -50px 0; }
.icr-label:hover .type_radio { background-position: -50px -48px; }
.icr-label.checked .type_checkbox { background-position: -150px 0; }
.icr-label.checked .type_radio { background-position: -150px -48px; }
.icr-label.checked:hover .type_checkbox { background-position: -150px 0; }
.icr-label.checked:hover .type_radio { background-position: -150px -48px; }
.icr-label.disabled { opacity: 0.5; }
.lt-ie9 .icr-label.disabled { filter: alpha(opacity=50); }
.icr-label.disabled .type_checkbox { background-position: 0 0 !important; }
.icr-label.disabled .type_radio { background-position: 0 -50px !important; }
.icr-label.checked.disabled .type_checkbox { background-position: -100px 0 !important; }
.icr-label.checked.disabled .type_radio { background-position: -100px -50px !important; }

.icr-label { padding-right: 2px; margin: 0 5px 5px 0; }
.icr-item { width: 23px; height: 23px; background: url(../../images/library/icr-green-skin.png) no-repeat; }
.icr-label.disabled { opacity: 0.4; }
.icr-label.focused .type_checkbox:after { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.icr-label.focused .type_radio:after { -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; }

.js-demo-1,.js-demo-2{ margin-bottom: 30px; line-height: 38px; }
label{margin-right:20px!important;}
