@charset "utf-8";
* {
	margin: 0;
	padding: 0
}
a {
	text-decoration: none;
	color: #666666;
}
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch
}
html.ns {
	overflow: hidden
}
body {
	color: #535353;
	font-size: 100%;
	background: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative
}
a, body {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
img {
	border: 0
}
ol, ul, li {
	list-style: none
}
dl, dt, dd, ul, li {
	margin: 0;
	padding: 0
}
input, textarea {
	outline: none
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
	-webkit-text-size-adjust: none
}
i {
	font-style: normal
}
.fl {
	float: left
}
.fr {
	float: right
}
.clear {
	clear: both
}
.wrap {
	width: 96%;
	margin: 0 auto
}
.pd5 {
	padding: 5px
}
.pd10 {
	padding: 15px;
}



#sort {
	height: 35px;
	background: #eaeaea;
}
#sort .sortby {
	height: 40px
}
.sort_ct {
	border: 1px solid #fff;
	border: 0 1px
}
#sort td {
	height: 35px;
	text-align: center
}
.sort_left {
	background: url('g_block.png') repeat-y 100% 0;
	text-align: center;
	background-size: 1px 1px
}
.sort_right {
	background: url('g_block.png') repeat-y 0 0;
	background-size: 1px 1px
}
.sort_b {
	height: 35px;
	line-height: 35px;
	width: 100%
}
.sort_b i {
	width: 0px;
	height: 1.1em;
	display: block;
	float: left;
	margin-top: 17px;
	margin-right: 5px;
	background-image: url('sort.png');
	background-size: 150px 150px
}
i.cate_default {
	background-position: 1px 1px
}
i.cate_tag {
	background-position: -13px -49px
}
i.cate_sort {
	background-position: -29px -1.1em
}
.sort_b span {
	height: 35px;
	display: block;
	float: left;
	background: url('slide.png') no-repeat 0 0;
	padding-right: 19px;
	background: url('slide.png') no-repeat 100% 50%;
	background-size: 9px 4.5px;
	overflow: hidden;
	font-size:0.8em;
}
.sort_cate a {
	padding-right: 5px
}
.sort_tag .sort_b span {
	max-width: 56px
}
.sort_b a {
	display: block;
	height: 40px;
	width: 100%
}
.sort_b.ton {
	background-color: #343435;
	-moz-box-shadow: 0px 2px 6px #1f1f1f inset;
	-o-box-shadow: 0px 2px 6px #1f1f1f inset;
	-webkit-box-shadow: 0px 2px 6px #1f1f1f inset;
	box-shadow: 0px 2px 6px #1f1f1f inset
}
.sort_b .sort_b_inner {
	height: 40px;
	display: inline-block
}


#sort_content {
	width: 100%;
	min-height: 100%;
	background: #f0f1f1;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 20px;
	-webkit-transform: translate3d(0px, 100%, 0px);
	-moz-transform: translate3d(0px, 100%, 0px);
	transform: translate3d(0px, 100%, 0px);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-o-transition: -o-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}
#sort_content.show {
	-webkit-transform: translate3d(0px, 0%, 0px);
	-moz-transform: translate3d(0px, 0%, 0px);
	transform: translate3d(0px, 0%, 0px);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: -moz-transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-o-transition: -o-transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000)
}
.asort {
	display: none
}
.asort.show {
	display: block
}
.hd {
	height: 50px;
	background: #f8b101
}
.hd .fl {
	height: 50px;
}
.sort_tag .hd .fl i {
	background-position: 1.5px -34px
}
.sort_color .hd .fl i {
	background-position: 1.5px -94.5px
}
.hd .fl span {
	height: 32px;
	line-height: 32px;
	color: #fff;
	display: block;
	float: left;
	margin-top: 10px;
	padding-left: 1.1em
}
.hd .fr {
	width: 33px;
	height: 32px;
	background-position: 10px -76.5px;
	/*! background-color: #3e4042; */
	margin-top: 10px;
	position: relative;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}
.hd .fr.ton {
	background-color: #6bc30d
}
.ct {
	overflow-x: hidden;
	overflow-y: auto
}
.ct ul {
	margin-top: 10px;
	display: block;
	border-top: 1px solid #e5e5e5
}
.ct li {
	display: block;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
	background: #fff
}
.ct li i {
	width: 1.1em;
	height: 1.1em;
	display: inline-block;
	vertical-align: middle;
	margin-top: 17px
}
.ct li span {
	display: inline-block;
	height: 1.1em;
	vertical-align: middle;
	margin-top: 17px;
	font-size: 13px
}
.ct li .s {
	margin-right: 0.8em;
	background-image: url('sort.png');
	background-size: 150px 150px;
	margin-left: 15px;
}
.ct h4 {
	display: block;
	height: 40px;
	overflow: hidden;
	font-weight: 500
}
.ct h4 i {
	display: inline-block;
	height: 1.1em;
	width: 1.1em;
	vertical-align: middle;
	background-image: url('sort.png');
	background-size: 150px 150px;
	margin-left: 1em;
	margin-right: 10px;
	margin-top: 17px
}
.ct .cate_trade i {
	background-position: -1.1em 0
}
.ct .cate_tag i {
	background-position: -1.1em -1.1em
}
.ct .cate_color i {
	background-position: -1.1em -32px
}
.ct h4 span {
	display: inline-block;
	height: 1.1em;
	line-height: 1.1em;
	vertical-align: middle;
	margin-top: 17px
}
i.cate_all {
	background-position: 0px 0px
}
i.cate_creat {
	background-position: 0px -1.1em
}
i.cate_site {
	background-position: 0px -32px
}
i.cate_inspire {
	background-position: 0px -48px
}
i.cate_article {
	background-position: 0px -64px
}
i.cate_app {
	background-position: 0px -80px
}
i.sort_re {
	background-position: -32px 0px
}
i.sort_recom {
	background-position: -32px -1.1em
}
i.sort_fa {
	background-position: -32px -32px
}
i.sort_vi {
	background-position: -32px -48px
}
i.sort_com {
	background-position: -32px -64px
}
.ct li i.e {
	background: #ffffff;
	width: 10px;
	height: 10px;
	border: 3px solid #d1d1d1;
	float: right;
	margin-right: 25px;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}
.ct li.a_selected {
}
.ct li.a_selected .e {
	border: 3px solid #6bc30d
}
.ct .wrap {
	position: relative
}
